// a,
// abbr,
// acronym,
// address,
// applet,
// article,
// aside,
// audio,
// b,
// big,
// blockquote,
// body,
// button,
// canvas,
// caption,
// center,
// cite,
// code,
// dd,
// del,
// details,
// dfn,
// div,
// dl,
// dt,
// em,
// embed,
// fieldset,
// figcaption,
// figure,
// footer,
// form,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// header,
// hgroup,
// html,
// i,
// iframe,
// img,
// input,
// ins,
// kbd,
// label,
// legend,
// li,
// mark,
// menu,
// nav,
// object,
// ol,
// output,
// p,
// pre,
// q,
// ruby,
// s,
// samp,
// section,
// select,
// small,
// span,
// strike,
// strong,
// sub,
// summary,
// sup,
// table,
// tbody,
// td,
// textarea,
// tfoot,
// th,
// thead,
// time,
// tr,
// tt,
// u,
// ul,
// var,
// video {
//     margin: 0;
//     padding: 0;
//     border: 0;
//     outline: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
a {
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-size: 13px;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    background-color: #fff;
}
.laid-loading {
    z-index: 900000000000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.laid-loading .loading {
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
}
.laid-loading .loading div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: laid-loading 1.2s linear infinite;
}
.laid-loading .loading div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}
.laid-loading .loading div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}
.laid-loading .loading div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}
.laid-loading .loading div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}
.laid-loading .loading div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}
.laid-loading .loading div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}
.laid-loading .loading div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}
.laid-loading .loading div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}
.laid-loading .loading div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}
.laid-loading .loading div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}
.laid-loading .loading div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}
.laid-loading .loading div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}
@keyframes laid-loading {
    0%,
    100%,
    20%,
    80% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
.overflow-hidden {
    overflow: hidden;
}
.laid-transition {
    transition: all 150ms linear 0s;
}
.opacity-0 {
    opacity: 0;
}
.height-0 {
    height: 0 !important;
}
.transition-readmore {
    transition: height 350ms linear 0s;
}
.transition-collapse {
    transition: height 150ms linear 0s;
}
.transition-parent-collapse-height {
    transition: height 150ms linear 0s;
}
.transition-parent-collapse-top {
    transition: top 150ms linear 0s;
}
.pointer-events-none {
    pointer-events: none;
}
.laid-google-recaptcha-checkbox {
    position: absolute;
    display: inline-block;
    transform: translateY(-100%);
    margin-top: -5px;
    z-index: 90000010;
}
.ladipage-message {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000000000;
    background: rgba(0, 0, 0, 0.3);
}
.ladipage-message .ladipage-message-box {
    width: 400px;
    max-width: calc(100% - 50px);
    height: 160px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: fixed;
    top: calc(50% - 155px);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}
.ladipage-message .ladipage-message-box span {
    display: block;
    background-color: rgba(6, 21, 40, 0.05);
    color: #000;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ladipage-message .ladipage-message-box .ladipage-message-text {
    display: -webkit-box;
    font-size: 14px;
    padding: 0 20px;
    margin-top: 10px;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ladipage-message .ladipage-message-box .ladipage-message-close {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 10px;
    margin: 0 auto;
    padding: 10px 0;
    border: none;
    width: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #e6e6e6;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    cursor: pointer;
}
.laid-wraper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.laid-section {
    margin: 0 auto;
    position: relative;
}
.laid-section[data-tab-id] {
    display: none;
}
.laid-section.selected[data-tab-id] {
    display: block;
}
.laid-section .laid-section-arrow-down {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    z-index: 90000040;
}
.laid-section .laid-section-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 90000040;
}
.laid-section .laid-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}
.laid-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.laid-element {
    position: absolute;
}
.laid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.laid-survey {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.laid-form .laid-survey {
    text-transform: inherit;
    text-decoration: inherit;
    letter-spacing: inherit;
    color: inherit;
}
.laid-survey .laid-survey-option {
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration-line: inherit;
    -webkit-text-decoration-line: inherit;
    transition: inherit;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-survey .laid-survey-option-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: inherit;
}
.laid-survey .laid-survey-option-label {
    display: block;
    text-decoration-line: inherit;
    -webkit-text-decoration-line: inherit;
    position: relative;
}
.laid-survey .laid-survey-option-image {
    background-size: cover;
    background-position: center center;
    pointer-events: none;
    vertical-align: middle;
    border-radius: inherit;
    position: relative;
    margin: 0 auto;
}
.laid-survey .laid-survey-button-next {
    display: block;
}
.laid-survey .laid-survey-button-next.empty {
    display: none;
}
.laid-survey .laid-survey-button-next.no-select {
    display: none;
}
.laid-survey .laid-survey-button-next button {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
}
.laid-survey .laid-survey-button-next button:active {
    transform: translateY(2px);
    transition: transform 0.2s linear;
}
.laid-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: pan-y;
}
.laid-carousel .laid-carousel-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: left 350ms ease-in-out;
}
.laid-carousel .laid-carousel-arrow {
    position: absolute;
    top: calc(50% - (33px) / 2);
    cursor: pointer;
    z-index: 90000040;
}
.laid-carousel .laid-carousel-arrow-left {
    left: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.laid-carousel .laid-carousel-arrow-right {
    right: 5px;
}
.laid-gallery {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-gallery .laid-gallery-view {
    position: absolute;
    overflow: hidden;
    touch-action: pan-y;
}
.laid-gallery .laid-gallery-view > .laid-gallery-view-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    transition: transform 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.play-video {
    cursor: pointer;
}
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.play-video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    background: url(https://w.ladicdn.com/source/ladipage-play.svg) no-repeat center center;
    background-size: contain;
    pointer-events: none;
    cursor: pointer;
}
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.next,
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.selected.right {
    left: 0;
    transform: translate3d(100%, 0, 0);
}
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.prev,
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.selected.left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
}
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.next.left,
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.prev.right,
.laid-gallery .laid-gallery-view > .laid-gallery-view-item.selected {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.laid-gallery .laid-gallery-view > .next,
.laid-gallery .laid-gallery-view > .prev,
.laid-gallery .laid-gallery-view > .selected {
    display: block;
}
.laid-gallery .laid-gallery-view > .selected {
    left: 0;
}
.laid-gallery .laid-gallery-view > .next,
.laid-gallery .laid-gallery-view > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.laid-gallery .laid-gallery-view > .next {
    left: 100%;
}
.laid-gallery .laid-gallery-view > .prev {
    left: -100%;
}
.laid-gallery .laid-gallery-view > .next.left,
.laid-gallery .laid-gallery-view > .prev.right {
    left: 0;
}
.laid-gallery .laid-gallery-view > .selected.left {
    left: -100%;
}
.laid-gallery .laid-gallery-view > .selected.right {
    left: 100%;
}
.laid-gallery .laid-gallery-control {
    position: absolute;
    overflow: hidden;
    touch-action: pan-y;
}
.laid-gallery.laid-gallery-top .laid-gallery-view {
    width: 100%;
}
.laid-gallery.laid-gallery-top .laid-gallery-control {
    top: 0;
    width: 100%;
}
.laid-gallery.laid-gallery-bottom .laid-gallery-view {
    top: 0;
    width: 100%;
}
.laid-gallery.laid-gallery-bottom .laid-gallery-control {
    width: 100%;
    bottom: 0;
}
.laid-gallery.laid-gallery-left .laid-gallery-view {
    height: 100%;
}
.laid-gallery.laid-gallery-left .laid-gallery-control {
    height: 100%;
}
.laid-gallery.laid-gallery-right .laid-gallery-view {
    height: 100%;
}
.laid-gallery.laid-gallery-right .laid-gallery-control {
    height: 100%;
    right: 0;
}
.laid-gallery .laid-gallery-view .laid-gallery-view-arrow {
    position: absolute;
    top: calc(50% - (33px) / 2);
    cursor: pointer;
    z-index: 90000040;
}
.laid-gallery .laid-gallery-view .laid-gallery-view-arrow-left {
    left: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.laid-gallery .laid-gallery-view .laid-gallery-view-arrow-right {
    right: 5px;
}
.laid-gallery .laid-gallery-control .laid-gallery-control-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 90000040;
}
.laid-gallery.laid-gallery-bottom .laid-gallery-control .laid-gallery-control-arrow,
.laid-gallery.laid-gallery-top .laid-gallery-control .laid-gallery-control-arrow {
    top: calc(50% - (33px) / 2);
}
.laid-gallery.laid-gallery-top .laid-gallery-control .laid-gallery-control-arrow-left {
    left: 0;
    transform: rotateY(180deg) scale(0.6);
    -webkit-transform: rotateY(180deg) scale(0.6);
}
.laid-gallery.laid-gallery-top .laid-gallery-control .laid-gallery-control-arrow-right {
    right: 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}
.laid-gallery.laid-gallery-bottom .laid-gallery-control .laid-gallery-control-arrow-left {
    left: 0;
    transform: rotateY(180deg) scale(0.6);
    -webkit-transform: rotateY(180deg) scale(0.6);
}
.laid-gallery.laid-gallery-bottom .laid-gallery-control .laid-gallery-control-arrow-right {
    right: 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}
.laid-gallery.laid-gallery-left .laid-gallery-control .laid-gallery-control-arrow,
.laid-gallery.laid-gallery-right .laid-gallery-control .laid-gallery-control-arrow {
    left: calc(50% - (33px) / 2);
}
.laid-gallery.laid-gallery-left .laid-gallery-control .laid-gallery-control-arrow-left {
    top: 0;
    transform: scale(0.6) rotate(270deg);
    -webkit-transform: scale(0.6) rotate(270deg);
}
.laid-gallery.laid-gallery-left .laid-gallery-control .laid-gallery-control-arrow-right {
    bottom: 0;
    transform: scale(0.6) rotate(90deg);
    -webkit-transform: scale(0.6) rotate(90deg);
}
.laid-gallery.laid-gallery-right .laid-gallery-control .laid-gallery-control-arrow-left {
    top: 0;
    transform: scale(0.6) rotate(270deg);
    -webkit-transform: scale(0.6) rotate(270deg);
}
.laid-gallery.laid-gallery-right .laid-gallery-control .laid-gallery-control-arrow-right {
    bottom: 0;
    transform: scale(0.6) rotate(90deg);
    -webkit-transform: scale(0.6) rotate(90deg);
}
.laid-gallery .laid-gallery-control .laid-gallery-control-box {
    position: relative;
}
.laid-gallery.laid-gallery-top .laid-gallery-control .laid-gallery-control-box {
    display: -webkit-inline-flex;
    display: inline-flex;
    left: 0;
    transition: left 150ms ease-in-out;
}
.laid-gallery.laid-gallery-bottom .laid-gallery-control .laid-gallery-control-box {
    display: -webkit-inline-flex;
    display: inline-flex;
    left: 0;
    transition: left 150ms ease-in-out;
}
.laid-gallery.laid-gallery-left .laid-gallery-control .laid-gallery-control-box {
    display: inline-grid;
    top: 0;
    transition: top 150ms ease-in-out;
}
.laid-gallery.laid-gallery-right .laid-gallery-control .laid-gallery-control-box {
    display: inline-grid;
    top: 0;
    transition: top 150ms ease-in-out;
}
.laid-gallery .laid-gallery-control .laid-gallery-control-box .laid-gallery-control-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    position: relative;
    cursor: pointer;
    filter: invert(15%);
}
.laid-gallery .laid-gallery-control .laid-gallery-control-box .laid-gallery-control-item.play-video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: url(https://w.ladicdn.com/source/ladipage-play.svg) no-repeat center center;
    background-size: contain;
    pointer-events: none;
    cursor: pointer;
}
.laid-gallery .laid-gallery-control .laid-gallery-control-box .laid-gallery-control-item:hover {
    filter: none;
}
.laid-gallery .laid-gallery-control .laid-gallery-control-box .laid-gallery-control-item.selected {
    filter: none;
}
.laid-gallery .laid-gallery-control .laid-gallery-control-box .laid-gallery-control-item:last-child {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}
.laid-table {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.laid-table table {
    width: 100%;
}
.laid-table table td {
    vertical-align: middle;
}
.laid-table tbody td {
    word-break: break-word;
}
.laid-table table td img {
    cursor: pointer;
    width: 100%;
}
.laid-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.laid-tabs {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-tabs .laid-tabs-background {
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.laid-tabs > .laid-element[data-index] {
    display: none;
}
.laid-tabs > .laid-element.selected[data-index] {
    display: block;
}
.laid-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.laid-frame .laid-frame-background {
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: inherit;
}
.laid-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.laid-banner .laid-banner-background {
    height: 100%;
    width: 100%;
    pointer-events: none;
}
#SECTION_POPUP .laid-container {
    z-index: 90000070;
}
#SECTION_POPUP .laid-container > .laid-element {
    z-index: 90000070;
    position: fixed;
    display: none;
}
#SECTION_POPUP .laid-container > .laid-element[data-fixed-close="true"] {
    position: relative !important;
}
#SECTION_POPUP .laid-container > .laid-element.hide-visibility {
    display: block !important;
    visibility: hidden !important;
}
#SECTION_POPUP .popup-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9000000080;
    cursor: pointer;
}
.laid-popup {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-popup .laid-popup-background {
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.laid-countdown {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-countdown .laid-countdown-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    display: table;
    pointer-events: none;
}
.laid-countdown .laid-countdown-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: inherit;
    display: table;
    pointer-events: none;
}
.laid-countdown .laid-countdown-text span {
    display: table-cell;
    vertical-align: middle;
}
.laid-countdown > .laid-element {
    text-decoration: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    position: relative;
    display: inline-block;
}
.laid-countdown > .laid-element:last-child {
    margin-right: 0 !important;
}
.laid-button {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.laid-button:active {
    transform: translateY(2px);
    transition: transform 0.2s linear;
}
.laid-button .laid-button-background {
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: inherit;
}
.laid-button > .laid-button-headline,
.laid-button > .laid-button-shape {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    display: table;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-button > .laid-button-shape .laid-shape {
    margin: auto;
    top: 0;
    bottom: 0;
}
.laid-button > .laid-button-headline .laid-headline {
    display: table-cell;
    vertical-align: middle;
}
.laid-collection {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-collection.carousel {
    overflow: hidden;
}
.laid-collection .laid-collection-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: left 350ms ease-in-out;
}
.laid-collection .laid-collection-content .laid-collection-item {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
}
.laid-collection .laid-collection-content .laid-collection-item:before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.laid-collection .laid-collection-content .laid-collection-page {
    float: left;
}
.laid-collection .laid-collection-arrow {
    position: absolute;
    top: calc(50% - (33px) / 2);
    cursor: pointer;
    z-index: 90000040;
}
.laid-collection .laid-collection-arrow-left {
    left: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.laid-collection .laid-collection-arrow-right {
    right: 5px;
}
.laid-collection .laid-collection-button-next {
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    z-index: 90000040;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.laid-form {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-form > .laid-element {
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form .laid-button > .laid-button-headline {
    color: initial;
    font-size: initial;
    font-weight: initial;
    text-transform: initial;
    text-decoration: initial;
    font-style: initial;
    text-align: initial;
    letter-spacing: initial;
    line-height: initial;
}
.laid-form > .laid-element .laid-form-item-container {
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form > [data-quantity="true"] .laid-form-item-container {
    overflow: hidden;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item {
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item-background {
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 9px 6px !important;
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    padding-right: 24px;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select-2 {
    width: calc(100% / 2 - 5px);
    max-width: calc(100% / 2 - 5px);
    min-width: calc(100% / 2 - 5px);
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select-2:nth-child(3) {
    margin-left: 7.5px;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select-3 {
    width: calc(100% / 3 - 5px);
    max-width: calc(100% / 3 - 5px);
    min-width: calc(100% / 3 - 5px);
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select-3:nth-child(3) {
    margin-left: 7.5px;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select-3:nth-child(4) {
    margin-left: 7.5px;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select option {
    color: initial;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control:not(.laid-form-control-select) {
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select {
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-control-select:not([data-selected=""]) {
    text-decoration: inherit;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-checkbox-item {
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    vertical-align: middle;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-checkbox-box-item {
    display: inline-block;
    width: fit-content;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item .laid-form-checkbox-item span {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-form
    > .laid-element
    .laid-form-item-container
    .laid-form-item
    .laid-form-checkbox-item
    span[data-checked="true"] {
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form
    > .laid-element
    .laid-form-item-container
    .laid-form-item
    .laid-form-checkbox-item
    span[data-checked="false"] {
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-form .laid-form-item-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-form .laid-form-item-title-value {
    font-weight: 700;
    word-break: break-word;
}
.laid-form .laid-form-label-container {
    position: relative;
    width: 100%;
}
.laid-form .laid-form-label-container .laid-form-label-item {
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-radius: 0 !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-form .laid-form-label-container .laid-form-label-item.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.laid-form .laid-form-label-container .laid-form-label-item.no-value {
    display: none !important;
}
.laid-form .laid-form-label-container .laid-form-label-item.text.disabled {
    opacity: 0.35;
}
.laid-form .laid-form-label-container .laid-form-label-item.image.disabled {
    opacity: 0.2;
}
.laid-form .laid-form-label-container .laid-form-label-item.color.disabled {
    opacity: 0.15;
}
.laid-form .laid-form-label-container .laid-form-label-item.selected:before {
    content: "";
    width: 0;
    height: 0;
    bottom: -1px;
    right: -1px;
    position: absolute;
    border-width: 0 0 15px 15px;
    border-color: transparent;
    border-style: solid;
}
.laid-form .laid-form-label-container .laid-form-label-item.selected:after {
    content: "";
    background-image: url("data:image/svg+xml;utf8,%3Csvgxmlns='http://www.w3.org/2000/svg'enable-background='new001212'viewBox='001212'x='0'fill='%23fff'y='0'%3E%3Cg%3E%3Cpathd='m5.210.9c-.20-.5-.1-.7-.2l-4.2-3.7c-.4-.4-.5-1-.1-1.4s1-.51.4-.1l3.435.1-7c.3-.41-.51.4-.2s.51.21.4l-5.77.9c-.2.2-.4.4-.7.40-.10-.1-.1-.1z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 7px;
    height: 7px;
    bottom: 0;
    right: 0;
    position: absolute;
}
.laid-form .laid-form-item {
    width: 100%;
    height: 100%;
    position: absolute;
}
.laid-form .laid-form-item-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.laid-form .laid-form-item.laid-form-checkbox {
    height: auto;
}
.laid-form .laid-form-item .laid-form-control {
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    color: inherit;
    font-size: inherit;
    border: none;
}
.laid-form .laid-form-item.laid-form-checkbox {
    padding: 0 5px;
}
.laid-form .laid-form-item.laid-form-checkbox.laid-form-checkbox-vertical .laid-form-checkbox-item {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: table;
    border: none;
}
.laid-form .laid-form-item.laid-form-checkbox.laid-form-checkbox-horizontal .laid-form-checkbox-item {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
    display: inline-block;
    border: none;
    position: relative;
}
.laid-form .laid-form-item.laid-form-checkbox .laid-form-checkbox-item input {
    vertical-align: middle;
    width: 13px;
    height: 13px;
    display: table-cell;
    margin-right: 5px;
}
.laid-form .laid-form-item.laid-form-checkbox .laid-form-checkbox-item span {
    display: table-cell;
    cursor: default;
    vertical-align: middle;
    word-break: break-word;
}
.laid-form .laid-form-item.laid-form-checkbox.laid-form-checkbox-horizontal .laid-form-checkbox-item input {
    position: absolute;
    top: 4px;
}
.laid-form .laid-form-item.laid-form-checkbox.laid-form-checkbox-horizontal .laid-form-checkbox-item span {
    padding-left: 18px;
}
.laid-form .laid-form-item textarea.laid-form-control {
    resize: none;
    padding: 5px;
}
.laid-form .laid-button {
    cursor: pointer;
}
.laid-form .laid-button .laid-headline {
    cursor: pointer;
    user-select: none;
}
.laid-form .laid-element .laid-form-otp::-webkit-inner-spin-button,
.laid-form .laid-element .laid-form-otp::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.laid-form .laid-element .laid-form-item .button-get-code {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: initial;
    padding: 5px 10px;
    height: max-content;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-form .laid-element .laid-form-item .button-get-code.hide-visibility {
    display: block !important;
    visibility: hidden !important;
}
.laid-form .laid-form-item.otp-resend .button-get-code {
    display: block;
}
.laid-form .laid-form-item.otp-countdown:before {
    content: attr(data-countdown-time) "s";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: max-content;
    line-height: initial;
}
.laid-combobox {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-combobox .laid-combobox-item-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-combobox .laid-combobox-item-container .laid-combobox-item-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
}
.laid-combobox .laid-combobox-item-container .laid-combobox-item {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: inherit;
    text-decoration: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
}
.laid-combobox .laid-combobox-item-container .laid-combobox-item .laid-combobox-control option {
    color: initial;
}
.laid-combobox .laid-combobox-item-container .laid-combobox-item .laid-combobox-control {
    background-color: transparent;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    font-size: inherit;
    border: none;
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    color: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 9px 6px !important;
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    padding-right: 24px;
}
.laid-combobox .laid-combobox-item-container .laid-combobox-item .laid-combobox-control:not([data-selected=""]) {
    text-decoration: inherit;
}
.laid-cart {
    position: absolute;
    width: 100%;
    font-size: 12px;
}
.laid-cart .laid-cart-row {
    position: relative;
    display: inline-table;
    width: 100%;
}
.laid-cart .laid-cart-row:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #dcdcdc;
}
.laid-cart .laid-cart-no-product {
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}
.laid-cart .laid-cart-image {
    width: 16%;
    vertical-align: middle;
    position: relative;
    text-align: center;
}
.laid-cart .laid-cart-image img {
    max-width: 100%;
}
.laid-cart .laid-cart-title {
    vertical-align: middle;
    padding: 0 5px;
    word-break: break-all;
}
.laid-cart .laid-cart-title .laid-cart-title-name {
    display: block;
    margin-bottom: 5px;
    word-break: break-word;
}
.laid-cart .laid-cart-title .laid-cart-title-variant {
    font-weight: 700;
    display: block;
    word-break: break-word;
}
.laid-cart .laid-cart-image .laid-cart-image-quantity {
    position: absolute;
    top: -3px;
    right: -5px;
    background: rgba(150, 149, 149, 0.9);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 20px;
}
.laid-cart .laid-cart-quantity {
    width: 70px;
    vertical-align: middle;
    text-align: center;
}
.laid-cart .laid-cart-quantity-content {
    display: -webkit-inline-flex;
    display: inline-flex;
}
.laid-cart .laid-cart-quantity input {
    width: 24px;
    text-align: center;
    height: 22px;
    pointer-events: none;
    -moz-appearance: textfield;
    border-left: none;
    border-right: none;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0;
}
.laid-cart .laid-cart-quantity input::-webkit-inner-spin-button,
.laid-cart .laid-cart-quantity input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.laid-cart .laid-cart-quantity .button {
    border: 1px solid #dcdcdc;
    cursor: pointer;
    text-align: center;
    width: 21px;
    height: 22px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-cart .laid-cart-quantity .button:active {
    transform: translateY(2px);
    transition: transform 0.2s linear;
}
.laid-cart .laid-cart-quantity .button span {
    font-size: 18px;
    position: relative;
    left: 0.5px;
}
.laid-cart .laid-cart-quantity .button:first-child span {
    top: -1.2px;
}
.laid-cart .laid-cart-price {
    width: 100px;
    vertical-align: middle;
    text-align: right;
    padding: 0 10px 0 5px;
}
.laid-cart .laid-cart-row.has-promotion .laid-cart-price span {
    text-decoration: line-through;
    display: block;
    margin-bottom: 3px;
}
.laid-cart .laid-cart-row.has-promotion .laid-cart-price span.price-compare {
    text-decoration: none;
    color: #e85d04;
    font-weight: 700;
    margin-bottom: 0;
}
.laid-cart .laid-cart-row.has-promotion .laid-cart-title span.promotion-name {
    margin-top: 5px;
    display: block;
    word-break: break-word;
}
.laid-cart .laid-cart-action {
    width: 28px;
    vertical-align: middle;
    text-align: center;
}
.laid-cart .laid-cart-action .button {
    border: 1px solid #dcdcdc;
    display: table;
    cursor: pointer;
    text-align: center;
    width: 25px;
    height: 22px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-cart .laid-cart-action .button:active {
    transform: translateY(2px);
    transition: transform 0.2s linear;
}
.laid-cart .laid-cart-action .button span {
    font-size: 13px;
    position: relative;
    top: 0.5px;
    display: table-cell;
    vertical-align: middle;
}
.laid-video {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.laid-video .laid-video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.laid-group {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-accordion {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-accordion .laid-accordion-shape {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    display: table;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-button-group {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-button-group > .laid-element {
    transition: inherit;
}
.laid-button-group > .laid-element > .laid-button {
    transition: inherit;
}
.laid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.laid-html-code {
    position: absolute;
    width: 100%;
    height: 100%;
}
.laid-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.laid-image .laid-image-background {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.laid-headline {
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: center center;
}
.laid-headline a {
    text-decoration: underline;
}
.laid-paragraph {
    width: 100%;
    display: inline-block;
    word-break: break-word;
}
.laid-paragraph a {
    text-decoration: underline;
}
.laid-list-paragraph {
    width: 100%;
    display: inline-block;
}
.laid-list-paragraph a {
    text-decoration: underline;
}
.laid-list-paragraph ul li {
    position: relative;
    counter-increment: linum;
}
.laid-list-paragraph ul li:before {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
}
.laid-list-paragraph ul li:last-child {
    padding-bottom: 0 !important;
}
.laid-line {
    position: relative;
}
.laid-line .laid-line-container {
    border-bottom: 0 !important;
    border-right: 0 !important;
    width: 100%;
    height: 100%;
}
a[data-action] {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
// a:visited {
//     color: inherit;
// }
a:link {
    color: inherit;
}
.button-unmute {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.button-unmute div {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m%2021.48%2C17.98%20c%200%2C-1.77%20-1.02%2C-3.29%20-2.5%2C-4.03%20v%202.21%20l%202.45%2C2.45%20c%20.03%2C-0.2%20.05%2C-0.41%20.05%2C-0.63%20z%20m%202.5%2C0%20c%200%2C.94%20-0.2%2C1.82%20-0.54%2C2.64%20l%201.51%2C1.51%20c%20.66%2C-1.24%201.03%2C-2.65%201.03%2C-4.15%200%2C-4.28%20-2.99%2C-7.86%20-7%2C-8.76%20v%202.05%20c%202.89%2C.86%205%2C3.54%205%2C6.71%20z%20M%209.25%2C8.98%20l%20-1.27%2C1.26%204.72%2C4.73%20H%207.98%20v%206%20H%2011.98%20l%205%2C5%20v%20-6.73%20l%204.25%2C4.25%20c%20-0.67%2C.52%20-1.42%2C.93%20-2.25%2C1.18%20v%202.06%20c%201.38%2C-0.31%202.63%2C-0.95%203.69%2C-1.81%20l%202.04%2C2.05%201.27%2C-1.27%20-9%2C-9%20-7.72%2C-7.72%20z%20m%207.72%2C.99%20-2.09%2C2.08%202.09%2C2.09%20V%209.98%20z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
[data-opacity="0"] {
    opacity: 0;
}
[data-hidden="true"] {
    display: none;
}
[data-action="true"] {
    cursor: pointer;
}
.is-2nd-click {
    cursor: pointer;
}
.element-click-selected {
    cursor: pointer;
}
.laid-accordion-shape.is-2nd-click,
.laid-button-shape.is-2nd-click {
    z-index: 1;
}
.laid-hidden {
    display: none;
}
.backdrop-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90000060;
}
.backdrop-dropbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90000040;
}
.lightbox-screen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9000000080;
    background: rgba(0, 0, 0, 0.5);
}
.lightbox-screen .lightbox-close {
    position: absolute;
    z-index: 9000000090;
    cursor: pointer;
}
.lightbox-screen .lightbox-hidden {
    display: none;
}
.laid-animation-hidden {
    visibility: hidden !important;
}
.laid-lazyload {
    background-image: none !important;
}
.laid-list-paragraph ul li.laid-lazyload:before {
    background-image: none !important;
}
.laid-cart-number {
    position: absolute;
    top: -2px;
    right: -7px;
    background: #f36e36;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
}
.laid-form-quantity {
    display: -webkit-inline-flex;
    display: inline-flex;
    border-color: inherit;
}
.laid-form > .laid-element .laid-form-item-container .laid-form-item.laid-form-quantity .laid-form-control {
    text-align: center;
    pointer-events: none;
    -moz-appearance: textfield;
    width: calc(100% - 45px);
    padding: 0;
    min-width: 24px;
    border-left: none;
    border-right: none;
    border-top: 1px hidden;
    border-bottom: 1px hidden;
    border-color: inherit;
}
.laid-form
    > .laid-element
    .laid-form-item-container
    .laid-form-item.laid-form-quantity
    input::-webkit-inner-spin-button,
.laid-form
    > .laid-element
    .laid-form-item-container
    .laid-form-item.laid-form-quantity
    input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.laid-form-quantity .button {
    display: table;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 100%;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.laid-form-quantity .button span {
    font-size: 18px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.laid-form-quantity .button:first-child span {
    top: -0.5px;
}
.laid-form-quantity input {
    pointer-events: none;
}
.laid-form [data-variant="true"] select option[disabled] {
    background: #fff;
    color: #b8b8b8 !important;
}
.laid-story-page-progress-bar {
    width: 100%;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
}
.laid-story-page-progress-bar-item {
    height: 100%;
    width: 100%;
    display: block;
    float: left;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}
.laid-story-page-progress-bar-item:before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 100%;
    height: 4px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.laid-story-page-progress-bar-item.active:before {
    background: #fff;
}
.laid-story-page-progress-bar-item span {
    background: #fff;
    border-radius: 10px;
    height: 4px;
    display: block;
    margin: auto 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: width 0.3s linear;
    width: 0%;
}
.laid-carousel .laid-carousel-arrow,
.laid-collection .laid-collection-arrow,
.laid-collection .laid-collection-button-next,
.laid-gallery .laid-gallery-control .laid-gallery-control-arrow,
.laid-gallery .laid-gallery-view .laid-gallery-view-arrow,
.laid-section .laid-section-arrow-down {
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.00015%200.585938L18.4144%2012.0002L7.00015%2023.4144L5.58594%2022.0002L15.5859%2012.0002L5.58594%202.00015L7.00015%200.585938Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
#SECTION_POPUP .popup-close,
.laid-section .laid-section-close {
    width: 16px;
    height: 16px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23000%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M23.4144%202.00015L2.00015%2023.4144L0.585938%2022.0002L22.0002%200.585938L23.4144%202.00015Z%22%3E%3C%2Fpath%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2.00015%200.585938L23.4144%2022.0002L22.0002%2023.4144L0.585938%202.00015L2.00015%200.585938Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
.lightbox-screen .lightbox-close {
    width: 16px;
    height: 16px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23fff%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M23.4144%202.00015L2.00015%2023.4144L0.585938%2022.0002L22.0002%200.585938L23.4144%202.00015Z%22%3E%3C%2Fpath%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2.00015%200.585938L23.4144%2022.0002L22.0002%2023.4144L0.585938%202.00015L2.00015%200.585938Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
#BODY_BACKGROUND {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh !important;
}
.laid-html strong {
    font-weight: 700;
}
.laid-html em {
    font-style: italic;
}
.laid-html a {
    text-decoration: underline;
}
.laid-html img {
    max-width: 100%;
}
.laid-html .laid-headline p,
.laid-html .laid-paragraph p {
    margin: revert;
}
@media (min-width: 768px) {
    .laid-fullwidth {
        width: 100vw !important;
        left: calc(-50vw + 50%) !important;
        box-sizing: border-box !important;
        transform: none !important;
    }
    .laid-fullwidth .laid-gallery-view-item {
        transition-duration: 1.5s;
    }
}
@media (max-width: 767px) {
    .laid-element.laid-auto-scroll {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100% !important;
        left: 0 !important;
        -webkit-overflow-scrolling: touch;
    }
    .laid-section.laid-auto-scroll {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .laid-carousel .laid-carousel-content {
        transition: left 0.3s ease-in-out;
    }
    .laid-gallery .laid-gallery-view > .laid-gallery-view-item {
        transition: transform 0.3s ease-in-out;
    }
    .laid-html img {
        height: auto !important;
    }
}
.laid-notify-transition {
    transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.laid-notify {
    padding: 5px;
    box-shadow: 0 0 1px rgba(64, 64, 64, 0.3), 0 8px 50px rgba(64, 64, 64, 0.05);
    border-radius: 40px;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    font-size: 13px;
}
.laid-notify .laid-notify-image img {
    float: left;
    margin-right: 13px;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    pointer-events: none;
}
.laid-notify .laid-notify-title {
    font-size: 100%;
    height: 17px;
    overflow: hidden;
    font-weight: 700;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
}
.laid-notify .laid-notify-content {
    font-size: 92.308%;
    height: 17px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    padding-top: 2px;
}
.laid-notify .laid-notify-time {
    line-height: 1.6;
    font-size: 84.615%;
    display: inline-block;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 155px);
    overflow: hidden;
}
.laid-notify .laid-notify-copyright {
    font-size: 76.9231%;
    margin-left: 2px;
    position: relative;
    padding: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    display: inline-block;
    top: -4px;
}
.laid-notify .laid-notify-copyright svg {
    vertical-align: middle;
}
.laid-notify .laid-notify-copyright svg:not(:root) {
    overflow: hidden;
}
.laid-notify .laid-notify-copyright div {
    text-decoration: none;
    color: rgba(64, 64, 64, 1);
    display: inline;
}
.laid-notify .laid-notify-copyright strong {
    font-weight: 700;
}
.builder-container .laid-notify {
    transition: unset;
}
.laid-spin-lucky {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 7px 0 rgba(64, 64, 64, 0.6), 0 8px 50px rgba(64, 64, 64, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
}
.laid-spin-lucky .laid-spin-lucky-start {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20%;
    height: 20%;
    cursor: pointer;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
}
.laid-spin-lucky .laid-spin-lucky-start:hover {
    transform: scale(1.1);
}
.laid-spin-lucky .laid-spin-lucky-screen {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: transform 7s cubic-bezier(0.25, 0.1, 0, 1);
    -webkit-transition: transform 7s cubic-bezier(0.25, 0.1, 0, 1);
    text-decoration-line: inherit;
    -webkit-text-decoration-line: inherit;
    text-transform: inherit;
}
.laid-spin-lucky .laid-spin-lucky-screen:before {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.laid-spin-lucky .laid-spin-lucky-label {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 42%;
    padding-left: 12%;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    text-decoration-line: inherit;
    -webkit-text-decoration-line: inherit;
    text-transform: inherit;
    line-height: 1.6;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 2px;
}
