.goods-details {
    /* display: flex; */
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border: 1px solid #68a7ffb2;
    border-radius: 15px
}

.goods-details .breadcrumbs {
    padding-top: 10px;
    padding-bottom: 5px;
}

.goods-details hr {
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
    border-top: 2px solid #68a7ffb2
}

.goods-details .form-group {
    display: flex;
    justify-content: center;
}

.goods-details .form-group button {
    position: relative;
    width: 250px;
    height: 50px;
    background-color: #4b93f8;
    color: white;
    border: 1px solid #68a7ffb2;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    z-index: 11;
    margin: 15px 0
}

/* .goods-details .form-group button:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 21;
} */
.goods-details .form-group button:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}

.goods-details .form-group button:hover {
    transform: scale(0.95)
}

#tabExchange .comment-container {
    margin: 0 0 0 0;
    align-items: center;
}

#tabExchange button {
    font-size: 15px;
    position: relative;
    width: 80px;
    height: 50px;
    background-color: #68a7ffb2;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index: 11;
    border-radius: 15px;
    /* margin-bottom:15px */
}

#tabExchange button:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}

#tabExchange button:hover {
    transform: scale(0.95)
}

#details-goods table {

    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#details-goods table th,
#details-goods table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #343045;
}

#details-goods table td:not(:first-child) {
    border-left: 1px solid #343045;
}

#details-goods table th {
    border: none;
    background-color: #0f0c18;
    font-weight: bold;
}

.goods-details .nav-tabs a {
    color: black
}

.goods-details .nav-tabs {
    border-bottom: 1px solid #68a7ffb2;
    margin-bottom: 10px
}

.goods-details .nav-tabs a:hover {
    color: black;
    border: none;
    background-color: #68a7ffb2;
}

.goods-details .nav-tabs .active>a {
    border: none;
    background-color: #4b93f8;
    color: white
}

.goods-details .nav-tabs .active>a:hover {
    border: none;
    background-color: #68a7ffb2;
    color: black
}

.goods-details .nav-tabs .active>a:focus {
    border: none;
    background-color: #4b93f8;
    color: white
}


#tabExchange .comment-options .dropdown-menu .dropdown-item {
    color: black;
    background-color: #0f0c18
}

#tabExchange .comment-options .dropdown-menu .dropdown-item:hover {
    color: yellow;
    background-color: #68a7ffb2
}

#dropdown-basic {
    padding: 0 !important
}

.border-left-reply {
    position: absolute;
    left: 58px;
    /* bottom: 50px; */
    width: 16px;
    height: 30px;
    border-left: 1px solid rgb(166 166 166);
    border-bottom: 1px solid rgb(166 166 166);
    border-radius: 0 0 0 15px;
}

.border-left-reply-comment {
    position: absolute;
    left: 106px;
    width: 16px;
    height: 30px;
    border-left: 1px solid rgb(166 166 166);
    border-bottom: 1px solid rgb(166 166 166);
    border-radius: 0 0 0 15px;
}

#tabExchange .comment-options button {
    font-size: 15px;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #68a7ffb2;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index: 11;
    /* margin-bottom:15px */
}

#tabExchange .comment-options button:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}

#tabExchange .comment-options button:hover {
    transform: scale(0.95)
}

#tabExchange .button-reply {
    font-size: 15px;
    position: relative;
    width: 70px;
    height: 30px;
    background-color: #68a7ffb2;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index: 11;
    /* margin-bottom:15px */
}

#tabExchange .button-reply:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}

#tabExchange .button-reply:hover {
    transform: scale(0.95)
}

.slider-wrapper {
    border-radius: 15px
}

.thumb {
    border-radius: 15px;
    border: 3px solid #333 !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #fff !important;
}

.carousel-status {
    display: none
}

.checked {
    color: yellow
}