.goods-details {
    /* display: flex; */
    backdrop-filter: blur(10px);
    padding:10px 15px;
    border:1px solid rgb(93, 93, 93);
    border-radius: 15px
}
.goods-details .breadcrumbs {
    padding-top:10px;
    padding-bottom:5px;
}
.goods-details hr {
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
    border-top: 2px solid rgb(237, 110, 37)
}
.goods-details .form-group {
    display:flex;
    justify-content: center;
}
.goods-details .form-group button {
    position: relative;
    width: 250px;
    height:50px;
    background-color: #ffbd59;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index:11;
    margin:15px 0
}

.goods-details .form-group button:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 21;
}
.goods-details .form-group button:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}
.goods-details .form-group button:hover {
    transform: scale(0.95)
}
#tabExchange .comment-container{
    margin:0 0 0 0;
    align-items: center;
}
#tabExchange button {
    font-size: 15px;
    position: relative;
    width: 80px;
    height: 50px;
    background-color: #ffbd59;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index:11;
    /* margin-bottom:15px */
}
#tabExchange button:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}
#tabExchange button:hover {
    transform: scale(0.95)
}
#details-goods table {
    
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#details-goods table th,
#details-goods table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #343045;
}
#details-goods table td:not(:first-child) {
    border-left: 1px solid #343045;
}
#details-goods table th {
    border:none;
    background-color: #0f0c18;
    font-weight: bold;
}
.goods-details .nav-tabs a {
    color: white
}
.goods-details .nav-tabs {
    border-bottom: 1px solid rgb(237, 110, 37);
    margin-bottom:10px
}
.goods-details .nav-tabs a:hover {
    color: white;
    border:none;
    background-color: rgb(237, 110, 37);
}
.goods-details .nav-tabs .active > a {
    border: none;
    background-color: rgb(237, 110, 37);
    color: white
}
.goods-details .nav-tabs .active > a:hover {
    border: none;
    background-color: rgb(237, 110, 37);
    color: white
}

#tabExchange .comment-options .dropdown-menu {
    background-color: #0f0c18;
    color:white;
    margin: 0;
    padding:0;
    font-size:13px
}

#tabExchange .comment-options .dropdown-menu .dropdown-item {
    color:white;
    background-color: #0f0c18
}

#tabExchange .comment-options .dropdown-menu .dropdown-item:hover {
    color:yellow;
    background-color: #ffbd59
}
#dropdown-basic {
    padding: 0 !important
}
.border-left-reply{
	position: absolute;
	left: 58px;
	/* bottom: 50px; */
	width: 16px;
	height: 30px;
	border-left: 1px solid rgb(166 166 166);
	border-bottom: 1px solid rgb(166 166 166);
	border-radius: 0 0 0 15px;
}
.border-left-reply-comment{
	position: absolute;
	left: 106px;
	width: 16px;
	height: 30px;
	border-left: 1px solid rgb(166 166 166);
	border-bottom: 1px solid rgb(166 166 166);
	border-radius: 0 0 0 15px;
}
#tabExchange .comment-options button {
    font-size: 15px;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ffbd59;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index:11;
    /* margin-bottom:15px */
}
#tabExchange .comment-options button:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}
#tabExchange .comment-options button:hover {
    transform: scale(0.95)
}

#tabExchange .button-reply {
    font-size: 15px;
    position: relative;
    width: 70px;
    height: 30px;
    background-color: #f3b65a;
    font-weight: 700;
    cursor: pointer;
    transform: 0.5s ease;
    border: none;
    z-index:11;
    /* margin-bottom:15px */
}
#tabExchange .button-reply:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: #0f0c18;
    top: 0;
    left: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 21;
}
#tabExchange .button-reply:hover {
    transform: scale(0.95)
}
.slider-wrapper{
    border-radius:30px
}
.thumb{
    border-radius: 30px
}
.carousel-status{
    display:none
}
.checked{
    color: yellow
}