@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    font-size: 16px;
    padding-top: 84px;
    margin: auto;
    color: white;
    background: url("assets/images/Technology.png");
    background-size: cover;
    background-position: center center;
}

.lds-hourglass {
    margin:auto;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(240 61 118);
    border-color: rgb(240 61 118) transparent rgb(240 61 118) transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}
body .swal2-popup{
    border-radius:15px;
    background: unset;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(240 61 118);
    color:white
}
body .swal2-popup .swal2-title{
    color:white
}
body .swal2-popup .swal2-actions .swal2-confirm,
body .swal2-popup .swal2-actions .swal2-cancel{
    border-radius:15px;
    border: 1px solid rgb(240 61 118);
    background: unset;
}
body .swal2-popup .swal2-actions .swal2-confirm:focus{
    border: 1px solid rgb(240 61 118);
}